.hero {
  background: url("https://preview.uiuxassets.com/opalin/media/bg/shape-hero.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.hero__padding {
  padding: 10rem 0;
}

.hero__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__innerInfo {
  margin: 0 2%;
}

.hero__image {
  max-width: 100%;
  object-fit: contain;
  border-radius: 0.5rem;
  box-shadow: 0 32px 40px rgba(0, 0, 0, 0.1);
}

.hero__button {
  background: linear-gradient(140deg, #575bde 25%, #393ed8 100%);
  outline: none;
  border: none;
  height: 3rem;
  border-radius: 3rem;
  font-size: 1rem;
  font-weight: 700;
  padding: 0 1.25rem;
}
