.ownerSays {
  background-color: #f6f6f9;
}

.ownerSays__image {
  max-width: 100%;
  object-fit: contain;
  box-shadow: 0 32px 40px rgba(0, 0, 0, 0.1);
}

.ownerSays__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ownerSays__sentence {
  font-weight: 700;
}
